.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .react-spinner-material {
    margin: 0 10px; /* Adjust spacing between spinners */
    background-color: #7064e5;
    border: none;
    animation: bubble 1.2s ease-in-out infinite; /* Animation for bubble effect */
  }
  
  .react-spinner-material:nth-child(1) {
    animation-delay: 0s;
  }
  
  .react-spinner-material:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .react-spinner-material:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  @keyframes bubble {
    0% {
      transform: scale(0.3);
      opacity: 0.7;
    }
    50% {
      transform: scale(1); /* Adjust scaling */
      opacity: 0.3;
    }
    100% {
      transform: scale(0.3);
      opacity: 0.7;
    }
  }
  